@model IEnumerable<Stock.Models.Observacion>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.firmwareVersion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.grabador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.numSerieGrabador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.amp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.bpm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Simulador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumSerieSimulador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoftAnalisis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.firmwareVersion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.grabador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.numSerieGrabador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.amp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.bpm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Simulador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumSerieSimulador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoftAnalisis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
